body {
  padding: 40px;
}

.tnt {
  border-radius: 50%;
  border: 5px solid #000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

.counter {
  background-color: #000;
  border-top-left-radius: 25px 10px;
  border-top-right-radius: 25px 10px;
  color: white;
  display: block;
  font-size: 1.7em;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

div {
  background-color: #000;
  width: 50px;
  height: 10px;
  padding: 20px 50px;
}

.cloud {
  background-color: #FFF;
  border-radius: 48px;
  display: inline-block;
  height: 16px;
  position: relative;
  width: 48px;
}

.cloud::before, .cloud::after {
  background-color: #FFF;
  border-radius: 50%;
  content: '';
  height: 14px;
  position: absolute;
  right: 7px;
  top: -6px;
  width: 14px;
}

.cloud::after {
  height: 23px;
  left: 7px;
  right: auto;
  top: -10px;
  width: 23px;
}
