body { padding: 20px; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.notice, .overlay {
  display: none;
}

.notice .close {
  background-color: #FF1A2D;
  color: #FFF;
  padding: 5px;
  position: absolute;
  right: -25px;
  top: -12px;
}

.notice {
  background-color: #FFF;
  border: 1px solid #000;
  height: 130px;
  padding: 10px;
  width: 380px;
  position: fixed;
  top: 50%;
  left:50%;
  margin: -75px 0 0 -200px;
  z-index: 1;
}